* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 30px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 90px;
  color: white;
  text-shadow: 1px 0 gray, -1px 0 gray, 0 1px gray, 0 -1px gray, 2px 2px black;
  margin-bottom: 0;
}

small {
  margin-bottom: 10px;
}

label {
  display: block;
}

.hidden {
  display: none;
}

.text-report dt:after {
  content: ": ";
}
